*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html{
  --bg-color: #F0F8FF;
  --text-color: #191970;
}

body {
  background-color:var(--bg-color);
  font-family: 'IBM Plex Mono', monospace;
}

.container {
  text-align: center;
  width: 300px;
  margin: 0px auto;
  padding: 30px;
}

.container {
  background-color: rgba(106,90,205, 0.2);
  border-radius: 12px;
  border-color: rgba(176,196,222, 0.2);
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 3.8px;
  border: #191970 solid 4px;
}

ul {
  list-style: none;
  margin: 30px 0px;
}

h1{
  margin-top: 24px;
  margin-bottom: 8px;
  color: var(--text-color);
  font-size: 24px;
  text-transform: capitalize;
}

p {
  color: var(--text-color);
}

ul li a {
  height: 45px;
  display: flex;
  border: 3px #98FB98 solid;
  align-items: center;
  justify-content: center;
  background-color: #ADFF2F;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 16px;
  margin-bottom: 16px;
  transition: background 400ms;
}

/*pseudo-class*/
ul li a:hover{
  background-color: #98FB98;
}

footer {
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color);
  opacity: 0.8;
  margin-top: 14px;
  opacity: 0.6;
  transition: opacity 400ms;
  }
 footer:hover {
 opacity: 1;
 }

  .rocketseat {
    color: #6A5ACD;
  }
